<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/viewallfoods.jpg" width="400" height="310" class="d-block mx-lg-auto img-fluid" Loading="lazy" alt="Rogelio Cooking Blog">
    </div>

    <div class="col-12 col-lg-6">

        <h1 class="display-5 fw-bold mb-3">Big Selection of Delicious Recipe Ideas</h1>
        <p class="lead">
            Explore our huge selection of delicious recipe ideas including; easy desserts, delicious vegan and vegetarian dinner ideas, gorgeous pasta recipes, quick bakes, family-friendly meals and gluten-free recipes.
        </p>
        
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest</a>
      <a href="/explore-random" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Show Random</a>
    </div>

    </div>

</div>

<!--Start of category list-->
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

<a href="#" class="col text-center category__link">
    <div class="category__img shadow">
        <img src="img/burgernfries.jpg" alt="American Food" Loading="lazy">
    </div>
    <div class="pt-1">American Food</div>
</a>

<a href="#" class="col text-center category__link">
    <div class="category__img shadow">
        <img src="img/burgernfries.jpg" alt="American Food" Loading="lazy">
    </div>
    <div class="pt-1">American Food</div>
</a>

<a href="#" class="col text-center category__link">
    <div class="category__img shadow">
        <img src="img/burgernfries.jpg" alt="American Food" Loading="lazy">
    </div>
    <div class="pt-1">American Food</div>
</a>

<a href="#" class="col text-center category__link">
    <div class="category__img shadow">
        <img src="img/burgernfries.jpg" alt="American Food" Loading="lazy">
    </div>
    <div class="pt-1">American Food</div>
</a>

<a href="/categories" class="col text-center category__link">
    <div class="category__img shadow">
        <img src="img/varietyfood.jpg" alt="View All Foods" Loading="lazy">
    </div>
    <div class="pt-1">View All</div>
</a>

</div>    

<!--End of category list-->

<!--Latest Start-->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Check out Latest Recipes</h2>
        <a href="/explore-latest" class="ms-auto">View More Here</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <a href="/recipe/#" class="col text-center category_link">
            <div class="category__img category__img--large shadow">
                <img src="img/desserts.jpg" alt="Desserts" Loading="lazy">
            </div>
            <div class="pt-1">Desserts</div>
        </a>
    </div>

</section>

<!--Latest End-->

